@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

:root{
    --cor01: #028000;
    --cor02: #044504;
    --cor03: #083408;
    --cor04: #000000;
}
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Marko One', serif;
    
}
header{
    color: white;
    height: 200px;
    text-align: center;
    font-family: 'Marko One', serif;
    background-image: url('imagens/cabeçalho.jpg');
    background-size: contain;
}
header input{
    padding: 5px;
    width: 400px;
    margin-top: 40px;
    border: 2px dashed green;
    border-radius: 10px;
}
input[type="submit"]{
    width: 80px;
}
nav{
    text-align: left;
    position: relative;
    margin-top: 35px;

}
nav>button{
    background-color: var(--cor03);
    color: white;
    height: 30px;
    bottom: 0;
    font-family: 'Marko One', serif;
}
nav>button:hover{
    background-color: var(--cor01);
    color: black;
}
main{
    background-color: var(--cor01);
    width: 1300px;
    margin: auto;
    border: 1px solid black;
}
div{
    width: 350px;
    height: 445px;
}
main .um{
    display: inline-block;
    margin-top: o;
    text-align: center;
}
main .dois{
    display: inline-block;
    text-align: center;

}
main .tres{
    display: inline-block;
    text-align: center;
    padding-left: 90px;
}
main .quatro{
    display: inline-block;
}
main .cinco{
    display: inline-block;
}
main .seis{
    display: inline-block;
    padding-left: 80px;
}